[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adil Aliyev (adilek)
[access "refs/for/refs/*"]
	read = group user/Adil Aliyev (adilek)
	push = group user/Adil Aliyev (adilek)
	label-Code-Review = -2..+2 group user/Adil Aliyev (adilek)
	label-Verified = -1..+1 group user/Adil Aliyev (adilek)
	rebase = group user/Adil Aliyev (adilek)
	removeReviewer = group user/Adil Aliyev (adilek)
	submit = group user/Adil Aliyev (adilek)
[access "refs/heads/*"]
	read = group user/Adil Aliyev (adilek)
	create = group user/Adil Aliyev (adilek)
	push = +force group user/Adil Aliyev (adilek)
	pushMerge = group user/Adil Aliyev (adilek)
[access "refs/tags/*"]
	push = group user/Adil Aliyev (adilek)
	push = +force group user/Adil Aliyev (adilek)
